<a href="https://colab.research.google.com/github/Melvinmcrn/DataScience/blob/master/ML1_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [2]:
columns_name = ['age','workclass','fnlwgt','education','education-num','maritial-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','salary']
data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', names=columns_name)
data.head()

   age          workclass  fnlwgt  ... hours-per-week  native-country  salary
0   39          State-gov   77516  ...             40   United-States   <=50K
1   50   Self-emp-not-inc   83311  ...             13   United-States   <=50K
2   38            Private  215646  ...             40   United-States   <=50K
3   53            Private  234721  ...             40   United-States   <=50K
4   28            Private  338409  ...             40            Cuba   <=50K

[5 rows x 15 columns]

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age                32561 non-null int64
workclass          32561 non-null object
fnlwgt             32561 non-null int64
education          32561 non-null object
education-num      32561 non-null int64
maritial-status    32561 non-null object
occupation         32561 non-null object
relationship       32561 non-null object
race               32561 non-null object
sex                32561 non-null object
capital-gain       32561 non-null int64
capital-loss       32561 non-null int64
hours-per-week     32561 non-null int64
native-country     32561 non-null object
salary             32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [4]:
data.describe()

                age        fnlwgt  ...  capital-loss  hours-per-week
count  32561.000000  3.256100e+04  ...  32561.000000    32561.000000
mean      38.581647  1.897784e+05  ...     87.303830       40.437456
std       13.640433  1.055500e+05  ...    402.960219       12.347429
min       17.000000  1.228500e+04  ...      0.000000        1.000000
25%       28.000000  1.178270e+05  ...      0.000000       40.000000
50%       37.000000  1.783560e+05  ...      0.000000       40.000000
75%       48.000000  2.370510e+05  ...      0.000000       45.000000
max       90.000000  1.484705e+06  ...   4356.000000       99.000000

[8 rows x 6 columns]

## Data Preparation

First, strip every data in the dataframe because every data start with a space.

In [5]:
df_obj = data.select_dtypes(['object'])
data[df_obj.columns] = df_obj.apply(lambda x: x.str.strip())
data['sex'][0]

'Male'

Set '?' value to null so we can deal with NaN easily later.

In [0]:
def CheckQuestionValue():
  for c in data.columns:
    if len(data.loc[data[c] == '?']):
      print(c)

In [7]:
CheckQuestionValue()

workclass
occupation
native-country

/usr/local/lib/python3.6/dist-packages/pandas/core/ops/__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [11]:
mapping_dict ={'?':np.nan}
data = data.replace(mapping_dict)
CheckQuestionValue()

/usr/local/lib/python3.6/dist-packages/pandas/core/ops/__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

Change sex data to (0 for Male) and (1 for Female)

In [12]:
mapping_dict = { 'sex': {'Male':0, 'Female':1}}
cleaned_data = data.replace(mapping_dict)
cleaned_data.head()

   age         workclass  fnlwgt  ... hours-per-week  native-country salary
0   39         State-gov   77516  ...             40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2   38           Private  215646  ...             40   United-States  <=50K
3   53           Private  234721  ...             40   United-States  <=50K
4   28           Private  338409  ...             40            Cuba  <=50K

[5 rows x 15 columns]

Change target value to 0 (>50K) and 1 (<=50K)

In [16]:
mapping_dict = { 'salary': {'>50K':0, '<=50K':1}}
cleaned_data = data.replace(mapping_dict)
cleaned_data.head()

   age         workclass  fnlwgt  ... hours-per-week  native-country salary
0   39         State-gov   77516  ...             40   United-States      1
1   50  Self-emp-not-inc   83311  ...             13   United-States      1
2   38           Private  215646  ...             40   United-States      1
3   53           Private  234721  ...             40   United-States      1
4   28           Private  338409  ...             40            Cuba      1

[5 rows x 15 columns]

In [23]:
cleaned_data.isnull().sum()

age                   0
workclass          1836
fnlwgt                0
education             0
education-num         0
maritial-status       0
occupation         1843
relationship          0
race                  0
sex                   0
capital-gain          0
capital-loss          0
hours-per-week        0
native-country      583
salary                0
dtype: int64

In [24]:
nonnull_data = cleaned_data.dropna()
nonnull_data.isnull().sum()

age                0
workclass          0
fnlwgt             0
education          0
education-num      0
maritial-status    0
occupation         0
relationship       0
race               0
sex                0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
salary             0
dtype: int64

In [25]:
nonnull_data.shape

(30162, 15)

In [0]:
data = nonnull_data

## Divide data into train/test data

In [0]:
X_train, X_test, y_train, y_test = train_test_split(data.drop('salary', axis=1), data['salary'], test_size=0.3, stratify=data['salary'], random_state=1234)

## Start training

In [0]:
def trainRandomForest(train,test):
  randomForest = RandomForestClassifier(random_state=1234)
  randomForest.fit(X=train, y=test)
  return randomForest

In [40]:
randomForest.fit(X_train, y_train)

ValueError: ignored