<a href="https://colab.research.google.com/github/Melvinmcrn/DataScience/blob/master/PySpark/4_Pyspark_Classification_Pipeline_Churn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/spark-2.4.5/spark-2.4.5-bin-hadoop2.7.tgz
!tar xf spark-2.4.5-bin-hadoop2.7.tgz
!pip install -q findspark

In [0]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.5-bin-hadoop2.7"
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

# Pyspark_Classification_Pipeline_Churn

In [0]:
#1 - import module
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf
from pyspark.ml import Pipeline, PipelineModel
from pyspark.ml.classification import DecisionTreeClassifier, DecisionTreeClassificationModel
from pyspark.ml.feature import StringIndexer, IndexToString, VectorAssembler
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder

In [0]:
#2 - Create spark context
sc = SparkContext.getOrCreate()

In [0]:
sc

In [0]:
sc._conf.getAll()

[(u'spark.driver.host', u'c15872cb2e6f'),
 (u'spark.rdd.compress', u'True'),
 (u'spark.app.id', u'local-1564039798062'),
 (u'spark.serializer.objectStreamReset', u'100'),
 (u'spark.master', u'local[*]'),
 (u'spark.executor.id', u'driver'),
 (u'spark.submit.deployMode', u'client'),
 (u'spark.driver.port', u'32839'),
 (u'spark.ui.showConsoleProgress', u'true'),
 (u'spark.app.name', u'pyspark-shell')]

In [0]:
print (sc.getConf().toDebugString())

spark.app.id=local-1564039798062
spark.app.name=pyspark-shell
spark.driver.host=c15872cb2e6f
spark.driver.port=32839
spark.executor.id=driver
spark.master=local[*]
spark.rdd.compress=True
spark.serializer.objectStreamReset=100
spark.submit.deployMode=client
spark.ui.showConsoleProgress=true

In [0]:
#3 - Setup SparkSession(SparkSQL)
spark = (SparkSession
         .builder
         .appName("Pyspark_Classification_Pipeline_Churn")
         .getOrCreate())
print (spark)

<pyspark.sql.session.SparkSession object at 0x7fc5731ef590>

In [0]:
#4 - Read file to spark DataFrame
data = (spark
        .read
        .option("header","true")
        .option("inferSchema", "true")
        .csv("churn.csv"))
data.cache()
print ("finish caching data")

finish caching data

In [0]:
#5 - Understand data and problems
category = ['International plan','Voice mail plan']
continuous = ['Number vmail messages','Total day minutes','Total day calls','Total day charge','Total eve minutes','Total eve calls','Total eve charge','Total night minutes','Total night calls','Total night charge','Total intl minutes','Total intl calls','Total intl charge','Customer service calls']
label = 'churn'

unique_features = ['State','Account length','Area code']
unused_features = ['Total day charge','Total eve charge','Total night charge','Total intl charge']
#bcz charges computed from minutes / 22.2252

print (len(category) + len(continuous))

16

In [0]:
data.describe().toPandas()

  summary State  ...   Total intl charge Customer service calls
0   count  3000  ...                3000                   3000
1    mean  None  ...   2.771566666666659     1.5616666666666668
2  stddev  None  ...  0.7587626676487821     1.3206482976923197
3     min    AK  ...                 0.0                      0
4     max    WY  ...                 5.4                      9

[5 rows x 20 columns]

In [0]:
data.printSchema()

root
 |-- State: string (nullable = true)
 |-- Account length: integer (nullable = true)
 |-- Area code: integer (nullable = true)
 |-- International plan: string (nullable = true)
 |-- Voice mail plan: string (nullable = true)
 |-- Number vmail messages: integer (nullable = true)
 |-- Total day minutes: double (nullable = true)
 |-- Total day calls: integer (nullable = true)
 |-- Total day charge: double (nullable = true)
 |-- Total eve minutes: double (nullable = true)
 |-- Total eve calls: integer (nullable = true)
 |-- Total eve charge: double (nullable = true)
 |-- Total night minutes: double (nullable = true)
 |-- Total night calls: integer (nullable = true)
 |-- Total night charge: double (nullable = true)
 |-- Total intl minutes: double (nullable = true)
 |-- Total intl calls: integer (nullable = true)
 |-- Total intl charge: double (nullable = true)
 |-- Customer service calls: integer (nullable = true)
 |-- Churn: boolean (nullable = true)

In [0]:
data.sample(False, 0.001, 1234).toPandas()

  State  Account length  ...  Customer service calls  Churn
0    MD             106  ...                       3  False
1    KY             151  ...                       1  False
2    OH              74  ...                       0  False
3    NJ              96  ...                       3  False
4    NM             232  ...                       1  False
5    TX              71  ...                       1  False

[6 rows x 20 columns]

In [0]:
data.groupBy(label).count().toPandas()

   churn  count
0   True    438
1  False   2562

In [0]:
#6 - Change column type from boolean to string
data.select(label).printSchema()
data = data.withColumn(label, data[label].cast("string"))
data.select(label).printSchema()

root
 |-- churn: boolean (nullable = true)

root
 |-- churn: string (nullable = true)

In [0]:
#8 - Remove unused variables
print ("number of features : " + str(len(data.drop(label).head())))
for unused_feature in unique_features + unused_features:
    print (unused_feature)
    data = data.drop(unused_feature)
print ("\nnumber of features remain : " + str(len(data.drop(label).head())))


category = [feature for feature in category if feature not in (unique_features + unused_features)]
continuous = [feature for feature in continuous if feature not in (unique_features + unused_features)]

print ("\nnumber of features remain : " + str(len(category) + len(continuous)))

number of features : 19
State
Account length
Area code
Total day charge
Total eve charge
Total night charge
Total intl charge

number of features remain : 12

number of features remain : 12

In [0]:
#9 - split Train and Test data
data = data.sort(label)
(trainingData, testData) = data.randomSplit([0.7, 0.3],seed = 50)

print(type(data))
print(type(trainingData))
print(type(testData))

print ("data count : " + str(data.count()))
print ("trainingData count : " + str(trainingData.count()))
print ("testData count : " + str(testData.count()))

data.groupBy(label).count().show()
trainingData.groupBy(label).count().show()
testData.groupBy(label).count().show()

<class 'pyspark.sql.dataframe.DataFrame'>
<class 'pyspark.sql.dataframe.DataFrame'>
<class 'pyspark.sql.dataframe.DataFrame'>
data count : 3000
trainingData count : 2100
testData count : 900
+-----+-----+
|churn|count|
+-----+-----+
|false| 2562|
| true|  438|
+-----+-----+

+-----+-----+
|churn|count|
+-----+-----+
|false| 1800|
| true|  300|
+-----+-----+

+-----+-----+
|churn|count|
+-----+-----+
|false|  762|
| true|  138|
+-----+-----+

In [0]:
#10 - String indexer
featureidx_list = [StringIndexer(inputCol = label, outputCol='label')]
featureidx_list += [StringIndexer(inputCol = c, outputCol=c + 'idx') for c in category]

print (featureidx_list)

[StringIndexer_223f569d739f, StringIndexer_793442c17a1d, StringIndexer_52a4f52ae653]

In [0]:
#11 - Create Vector
features = continuous + [c + 'idx' for c in category]
assem =  VectorAssembler(inputCols = features ,outputCol="features")

print (type(assem))

<class 'pyspark.ml.feature.VectorAssembler'>

In [0]:
#12 - Create model
dt = DecisionTreeClassifier(labelCol="label", featuresCol="features")

print (dt)

DecisionTreeClassifier_548508eb9738

In [0]:
#13 - Set ML pipeline
print (featureidx_list)
print (assem)
print (dt)
print ("\n")

all_process_list = featureidx_list + [assem,dt]
print (all_process_list)

pipeline = Pipeline(stages=all_process_list)
print ("\n")
print (pipeline)

[StringIndexer_223f569d739f, StringIndexer_793442c17a1d, StringIndexer_52a4f52ae653]
VectorAssembler_4029dd90a7c3
DecisionTreeClassifier_548508eb9738


[StringIndexer_223f569d739f, StringIndexer_793442c17a1d, StringIndexer_52a4f52ae653, VectorAssembler_4029dd90a7c3, DecisionTreeClassifier_548508eb9738]


Pipeline_a89eaaeb0be5

In [0]:
#14 - Train model
model = pipeline.fit(trainingData)
#predictions.cache()

In [0]:
#15 - (Optional) Assign multiple parameter lists used to train multiple models
paramGrid = (ParamGridBuilder()
    .addGrid(dt.maxDepth, [4,5,6])
     .addGrid(dt.minInstancesPerNode, [1,10])
     .addGrid(dt.impurity, ["gini","entropy"])        
    .build())

for param in paramGrid:
    print (param)
    print ("\n\n")

{Param(parent=u'DecisionTreeClassifier_548508eb9738', name='maxDepth', doc='Maximum depth of the tree. (>= 0) E.g., depth 0 means 1 leaf node; depth 1 means 1 internal node + 2 leaf nodes.'): 4, Param(parent=u'DecisionTreeClassifier_548508eb9738', name='impurity', doc='Criterion used for information gain calculation (case-insensitive). Supported options: entropy, gini'): 'gini', Param(parent=u'DecisionTreeClassifier_548508eb9738', name='minInstancesPerNode', doc='Minimum number of instances each child must have after split. If a split causes the left or right child to have fewer than minInstancesPerNode, the split will be discarded as invalid. Should be >= 1.'): 1}



{Param(parent=u'DecisionTreeClassifier_548508eb9738', name='maxDepth', doc='Maximum depth of the tree. (>= 0) E.g., depth 0 means 1 leaf node; depth 1 means 1 internal node + 2 leaf nodes.'): 4, Param(parent=u'DecisionTreeClassifier_548508eb9738', name='impurity', doc='Criterion used for information gain calculation (case-insensitive). Supported options: entropy, gini'): 'gini', Param(parent=u'DecisionTreeClassifier_548508eb9738', name='minInstancesPerNode', doc='Minimum number of instances each child must have after split. If a split causes the left or right child to have fewer than minInstancesPerNode, the split will be discarded as invalid. Should be >= 1.'): 10}



{Param(parent=u'DecisionTreeClassifier_548508eb9738', name='maxDepth', doc='Maximum depth of the tree. (>= 0) E.g., depth 0 means 1 leaf node; depth 1 means 1 internal node + 2 leaf nodes.'): 5, Param(parent=u'DecisionTreeClassifier_548508eb9738', name='impurity', doc='Criterion used for information gain calculation (case-insensitive). Supported options: entropy, gini'): 'gini', Param(parent=u'DecisionTreeClassifier_548508eb9738', name='minInstancesPerNode', doc='Minimum number of instances each child must have after split. If a split causes the left or right child to have fewer than minInstancesPerNode, the split will be discarded as invalid. Should be >= 1.'): 1}



{Param(parent=u'DecisionTreeClassifier_548508eb9738', name='maxDepth', doc='Maximum depth of the tree. (>= 0) E.g., depth 0 means 1 leaf node; depth 1 means 1 internal node + 2 leaf nodes.'): 5, Param(parent=u'DecisionTreeClassifier_548508eb9738', name='impurity', doc='Criterion used for information gain calculation (case-insensitive). Supported options: entropy, gini'): 'gini', Param(parent=u'DecisionTreeClassifier_548508eb9738', name='minInstancesPerNode', doc='Minimum number of instances each child must have after split. If a split causes the left or right child to have fewer than minInstancesPerNode, the split will be discarded as invalid. Should be >= 1.'): 10}



{Param(parent=u'DecisionTreeClassifier_548508eb9738', name='maxDepth', doc='Maximum depth of the tree. (>= 0) E.g., depth 0 means 1 leaf node; depth 1 means 1 internal node + 2 leaf nodes.'): 6, Param(parent=u'DecisionTreeClassifier_548508eb9738', name='impurity', doc='Criterion used for information gain calculation (case-insensitive). Supported options: entropy, gini'): 'gini', Param(parent=u'DecisionTreeClassifier_548508eb9738', name='minInstancesPerNode', doc='Minimum number of instances each child must have after split. If a split causes the left or right child to have fewer than minInstancesPerNode, the split will be discarded as invalid. Should be >= 1.'): 1}



{Param(parent=u'DecisionTreeClassifier_548508eb9738', name='maxDepth', doc='Maximum depth of the tree. (>= 0) E.g., depth 0 means 1 leaf node; depth 1 means 1 internal node + 2 leaf nodes.'): 6, Param(parent=u'DecisionTreeClassifier_548508eb9738', name='impurity', doc='Criterion used for information gain calculation (case-insensitive). Supported options: entropy, gini'): 'gini', Param(parent=u'DecisionTreeClassifier_548508eb9738', name='minInstancesPerNode', doc='Minimum number of instances each child must have after split. If a split causes the left or right child to have fewer than minInstancesPerNode, the split will be discarded as invalid. Should be >= 1.'): 10}



{Param(parent=u'DecisionTreeClassifier_548508eb9738', name='maxDepth', doc='Maximum depth of the tree. (>= 0) E.g., depth 0 means 1 leaf node; depth 1 means 1 internal node + 2 leaf nodes.'): 4, Param(parent=u'DecisionTreeClassifier_548508eb9738', name='impurity', doc='Criterion used for information gain calculation (case-insensitive). Supported options: entropy, gini'): 'entropy', Param(parent=u'DecisionTreeClassifier_548508eb9738', name='minInstancesPerNode', doc='Minimum number of instances each child must have after split. If a split causes the left or right child to have fewer than minInstancesPerNode, the split will be discarded as invalid. Should be >= 1.'): 1}



{Param(parent=u'DecisionTreeClassifier_548508eb9738', name='maxDepth', doc='Maximum depth of the tree. (>= 0) E.g., depth 0 means 1 leaf node; depth 1 means 1 internal node + 2 leaf nodes.'): 4, Param(parent=u'DecisionTreeClassifier_548508eb9738', name='impurity', doc='Criterion used for information gain calculation (case-insensitive). Supported options: entropy, gini'): 'entropy', Param(parent=u'DecisionTreeClassifier_548508eb9738', name='minInstancesPerNode', doc='Minimum number of instances each child must have after split. If a split causes the left or right child to have fewer than minInstancesPerNode, the split will be discarded as invalid. Should be >= 1.'): 10}



{Param(parent=u'DecisionTreeClassifier_548508eb9738', name='maxDepth', doc='Maximum depth of the tree. (>= 0) E.g., depth 0 means 1 leaf node; depth 1 means 1 internal node + 2 leaf nodes.'): 5, Param(parent=u'DecisionTreeClassifier_548508eb9738', name='impurity', doc='Criterion used for information gain calculation (case-insensitive). Supported options: entropy, gini'): 'entropy', Param(parent=u'DecisionTreeClassifier_548508eb9738', name='minInstancesPerNode', doc='Minimum number of instances each child must have after split. If a split causes the left or right child to have fewer than minInstancesPerNode, the split will be discarded as invalid. Should be >= 1.'): 1}



{Param(parent=u'DecisionTreeClassifier_548508eb9738', name='maxDepth', doc='Maximum depth of the tree. (>= 0) E.g., depth 0 means 1 leaf node; depth 1 means 1 internal node + 2 leaf nodes.'): 5, Param(parent=u'DecisionTreeClassifier_548508eb9738', name='impurity', doc='Criterion used for information gain calculation (case-insensitive). Supported options: entropy, gini'): 'entropy', Param(parent=u'DecisionTreeClassifier_548508eb9738', name='minInstancesPerNode', doc='Minimum number of instances each child must have after split. If a split causes the left or right child to have fewer than minInstancesPerNode, the split will be discarded as invalid. Should be >= 1.'): 10}



{Param(parent=u'DecisionTreeClassifier_548508eb9738', name='maxDepth', doc='Maximum depth of the tree. (>= 0) E.g., depth 0 means 1 leaf node; depth 1 means 1 internal node + 2 leaf nodes.'): 6, Param(parent=u'DecisionTreeClassifier_548508eb9738', name='impurity', doc='Criterion used for information gain calculation (case-insensitive). Supported options: entropy, gini'): 'entropy', Param(parent=u'DecisionTreeClassifier_548508eb9738', name='minInstancesPerNode', doc='Minimum number of instances each child must have after split. If a split causes the left or right child to have fewer than minInstancesPerNode, the split will be discarded as invalid. Should be >= 1.'): 1}



{Param(parent=u'DecisionTreeClassifier_548508eb9738', name='maxDepth', doc='Maximum depth of the tree. (>= 0) E.g., depth 0 means 1 leaf node; depth 1 means 1 internal node + 2 leaf nodes.'): 6, Param(parent=u'DecisionTreeClassifier_548508eb9738', name='impurity', doc='Criterion used for information gain calculation (case-insensitive). Supported options: entropy, gini'): 'entropy', Param(parent=u'DecisionTreeClassifier_548508eb9738', name='minInstancesPerNode', doc='Minimum number of instances each child must have after split. If a split causes the left or right child to have fewer than minInstancesPerNode, the split will be discarded as invalid. Should be >= 1.'): 10}

In [0]:
#16 - (Optional) Train multiple models with multiple parameters
crossval = CrossValidator(estimator=pipeline,
                      estimatorParamMaps=paramGrid,
                      evaluator=MulticlassClassificationEvaluator(labelCol="label", predictionCol="prediction", metricName="f1"),
                      numFolds=3)
cvModel = crossval.fit(trainingData)
model = cvModel.bestModel

print (model)

PipelineModel_bee484e18683

In [0]:
#17 - Make predictions
predictions = model.transform(testData)

In [0]:
# Print sample result
predictions.toPandas()

    International plan  ... prediction
0                   No  ...        0.0
1                   No  ...        0.0
2                   No  ...        0.0
3                   No  ...        0.0
4                   No  ...        0.0
5                   No  ...        0.0
6                   No  ...        0.0
7                   No  ...        0.0
8                   No  ...        0.0
9                   No  ...        0.0
10                  No  ...        0.0
11                  No  ...        0.0
12                  No  ...        0.0
13                  No  ...        1.0
14                  No  ...        0.0
15                  No  ...        0.0
16                  No  ...        0.0
17                  No  ...        0.0
18                  No  ...        0.0
19                  No  ...        0.0
20                  No  ...        0.0
21                  No  ...        0.0
22                  No  ...        1.0
23                  No  ...        0.0
24                  No  ...        0.0
25                  No  ...        0.0
26                  No  ...        0.0
27                  No  ...        0.0
28                  No  ...        0.0
29                  No  ...        0.0
..                 ...  ...        ...
870                Yes  ...        1.0
871                Yes  ...        1.0
872                Yes  ...        0.0
873                Yes  ...        1.0
874                Yes  ...        0.0
875                Yes  ...        0.0
876                Yes  ...        1.0
877                Yes  ...        1.0
878                Yes  ...        1.0
879                Yes  ...        1.0
880                Yes  ...        1.0
881                Yes  ...        0.0
882                Yes  ...        0.0
883                Yes  ...        0.0
884                Yes  ...        0.0
885                Yes  ...        0.0
886                Yes  ...        0.0
887                Yes  ...        0.0
888                Yes  ...        0.0
889                Yes  ...        0.0
890                Yes  ...        0.0
891                Yes  ...        1.0
892                Yes  ...        0.0
893                Yes  ...        0.0
894                Yes  ...        0.0
895                Yes  ...        0.0
896                Yes  ...        1.0
897                Yes  ...        0.0
898                Yes  ...        1.0
899                Yes  ...        0.0

[900 rows x 20 columns]

In [0]:
# Print sample result
predictions.select("prediction", "rawPrediction", "probability", "label", "features").toPandas()

     prediction  ...                                           features
0           0.0  ...  [0.0, 7.8, 86.0, 171.4, 100.0, 186.5, 80.0, 12...
1           0.0  ...  [0.0, 34.0, 133.0, 278.6, 61.0, 129.6, 120.0, ...
2           0.0  ...  [0.0, 39.5, 78.0, 264.3, 106.0, 185.8, 90.0, 1...
3           0.0  ...  [0.0, 40.4, 105.0, 172.4, 83.0, 145.1, 89.0, 9...
4           0.0  ...  [0.0, 45.0, 108.0, 151.3, 74.0, 152.9, 94.0, 9...
5           0.0  ...  [0.0, 48.4, 101.0, 281.1, 138.0, 218.5, 87.0, ...
6           0.0  ...  [0.0, 49.9, 123.0, 150.7, 81.0, 188.2, 67.0, 1...
7           0.0  ...  [0.0, 51.1, 106.0, 208.6, 137.0, 198.0, 92.0, ...
8           0.0  ...  [0.0, 51.9, 108.0, 162.0, 83.0, 223.5, 115.0, ...
9           0.0  ...  [0.0, 55.6, 65.0, 242.7, 121.0, 176.3, 134.0, ...
10          0.0  ...  [0.0, 58.9, 125.0, 169.6, 59.0, 211.4, 88.0, 9...
11          0.0  ...  [0.0, 59.5, 103.0, 257.2, 106.0, 208.3, 86.0, ...
12          0.0  ...  [0.0, 69.1, 117.0, 136.3, 100.0, 181.7, 53.0, ...
13          1.0  ...  [0.0, 70.8, 94.0, 215.6, 102.0, 230.8, 125.0, ...
14          0.0  ...  [0.0, 70.9, 134.0, 134.5, 112.0, 168.8, 164.0,...
15          0.0  ...  [0.0, 72.5, 88.0, 204.0, 112.0, 117.9, 118.0, ...
16          0.0  ...  [0.0, 74.5, 117.0, 200.8, 98.0, 192.2, 101.0, ...
17          0.0  ...  [0.0, 76.4, 116.0, 115.6, 74.0, 226.3, 94.0, 9...
18          0.0  ...  [0.0, 78.1, 70.0, 239.3, 115.0, 144.4, 112.0, ...
19          0.0  ...  [0.0, 78.3, 119.0, 198.2, 94.0, 248.5, 94.0, 1...
20          0.0  ...  [0.0, 82.6, 105.0, 204.0, 99.0, 224.2, 122.0, ...
21          0.0  ...  [0.0, 84.2, 134.0, 80.8, 103.0, 196.1, 79.0, 1...
22          1.0  ...  [0.0, 85.7, 112.0, 221.6, 70.0, 190.6, 75.0, 1...
23          0.0  ...  [0.0, 85.8, 77.0, 165.3, 110.0, 178.5, 92.0, 9...
24          0.0  ...  [0.0, 85.9, 113.0, 226.7, 91.0, 279.6, 110.0, ...
25          0.0  ...  [0.0, 86.1, 100.0, 259.8, 113.0, 148.0, 79.0, ...
26          0.0  ...  [0.0, 89.5, 66.0, 179.3, 104.0, 225.1, 116.0, ...
27          0.0  ...  [0.0, 90.5, 142.0, 211.7, 75.0, 194.9, 76.0, 9...
28          0.0  ...  [0.0, 91.1, 90.0, 179.3, 115.0, 300.7, 89.0, 1...
29          0.0  ...  [0.0, 92.2, 108.0, 211.2, 120.0, 129.1, 73.0, ...
..          ...  ...                                                ...
870         1.0  ...  [0.0, 248.7, 118.0, 172.3, 73.0, 191.9, 87.0, ...
871         1.0  ...  [0.0, 249.9, 95.0, 242.5, 104.0, 151.7, 121.0,...
872         0.0  ...  [0.0, 250.6, 85.0, 187.9, 50.0, 120.3, 131.0, ...
873         1.0  ...  [0.0, 251.3, 69.0, 252.5, 96.0, 118.3, 112.0, ...
874         0.0  ...  [0.0, 255.8, 125.0, 142.7, 111.0, 181.2, 101.0...
875         0.0  ...  [0.0, 258.0, 112.0, 246.5, 117.0, 173.2, 100.0...
876         1.0  ...  [0.0, 269.6, 121.0, 171.7, 91.0, 219.0, 98.0, ...
877         1.0  ...  [0.0, 273.9, 119.0, 278.6, 103.0, 255.3, 90.0,...
878         1.0  ...  [0.0, 276.5, 122.0, 195.6, 79.0, 210.3, 78.0, ...
879         1.0  ...  [0.0, 277.9, 123.0, 155.8, 112.0, 256.9, 71.0,...
880         1.0  ...  [0.0, 293.3, 79.0, 188.5, 90.0, 266.9, 91.0, 1...
881         0.0  ...  [12.0, 135.8, 60.0, 200.6, 134.0, 192.4, 98.0,...
882         0.0  ...  [16.0, 143.5, 76.0, 242.6, 58.0, 147.7, 95.0, ...
883         0.0  ...  [20.0, 187.5, 110.0, 169.8, 94.0, 175.3, 127.0...
884         0.0  ...  [21.0, 151.5, 99.0, 147.8, 89.0, 210.4, 114.0,...
885         0.0  ...  [23.0, 245.5, 54.0, 292.7, 83.0, 184.0, 90.0, ...
886         0.0  ...  [26.0, 292.9, 101.0, 199.7, 97.0, 255.3, 127.0...
887         0.0  ...  [28.0, 95.9, 117.0, 159.5, 131.0, 152.8, 132.0...
888         0.0  ...  [29.0, 128.2, 119.0, 171.7, 83.0, 250.9, 114.0...
889         0.0  ...  [29.0, 139.8, 114.0, 138.2, 91.0, 221.0, 88.0,...
890         0.0  ...  [30.0, 184.2, 132.0, 167.5, 109.0, 212.8, 114....
891         1.0  ...  [31.0, 203.5, 82.0, 200.3, 72.0, 214.0, 112.0,...
892         0.0  ...  [31.0, 225.0, 78.0, 191.3, 79.0, 226.7, 79.0, ...
893         0.0  ...  [32.0, 173.0, 101.0, 209.4, 93.0, 231.1, 91.0,...
894         0.0  ...  [35.0, 128.2, 138.0, 274.5, 113.0, 298.9, 130....
895         0.0  ...  [36.0, 171.2, 138.0, 185.8, 102.0, 227.6, 97.0...
896         1.0  ...  [38.0, 225.7, 117.0, 119.6, 122.0, 193.2, 125....
897         0.0  ...  [40.0, 216.4, 80.0, 249.7, 90.0, 185.9, 99.0, ...
898         1.0  ...  [42.0, 130.1, 90.0, 167.0, 128.0, 244.7, 80.0,...
899         0.0  ...  [43.0, 142.8, 96.0, 272.3, 100.0, 193.4, 105.0...

[900 rows x 5 columns]

In [0]:
#18 - Evaluate model
for metricName in ['accuracy','weightedPrecision','weightedRecall','f1']:
    evaluator = MulticlassClassificationEvaluator(labelCol="label", predictionCol="prediction", metricName=metricName)
    result = evaluator.evaluate(predictions)
    print ('%s = %g' % (metricName,result))
    if(metricName == 'accuracy') :
        print("error = %g " % (1.0 - result))

accuracy = 0.937778
error = 0.0622222
weightedPrecision = 0.935472
weightedRecall = 0.937778
f1 = 0.934827

In [0]:
#19 - Show tree diagram
treeModel = model.stages[-1]
treeModel_debug_str = treeModel.toDebugString
print (treeModel_debug_str)

DecisionTreeClassificationModel (uid=DecisionTreeClassifier_548508eb9738) of depth 6 with 55 nodes
  If (feature 1 <= 263.54999999999995)
   If (feature 10 in {1.0})
    If (feature 8 <= 2.5)
     Predict: 1.0
    Else (feature 8 > 2.5)
     If (feature 7 <= 13.05)
      If (feature 9 <= 3.5)
       Predict: 0.0
      Else (feature 9 > 3.5)
       If (feature 1 <= 160.05)
        Predict: 1.0
       Else (feature 1 > 160.05)
        Predict: 0.0
     Else (feature 7 > 13.05)
      Predict: 1.0
   Else (feature 10 not in {1.0})
    If (feature 9 <= 3.5)
     If (feature 1 <= 220.14999999999998)
      Predict: 0.0
     Else (feature 1 > 220.14999999999998)
      If (feature 3 <= 241.35000000000002)
       Predict: 0.0
      Else (feature 3 > 241.35000000000002)
       If (feature 0 <= 2.0)
        Predict: 1.0
       Else (feature 0 > 2.0)
        Predict: 0.0
    Else (feature 9 > 3.5)
     If (feature 1 <= 174.64999999999998)
      If (feature 3 <= 188.3)
       Predict: 1.0
      Else (feature 3 > 188.3)
       If (feature 1 <= 130.75)
        Predict: 1.0
       Else (feature 1 > 130.75)
        Predict: 0.0
     Else (feature 1 > 174.64999999999998)
      If (feature 3 <= 142.15)
       If (feature 1 <= 232.75)
        Predict: 1.0
       Else (feature 1 > 232.75)
        Predict: 0.0
      Else (feature 3 > 142.15)
       Predict: 0.0
  Else (feature 1 > 263.54999999999995)
   If (feature 11 in {1.0})
    If (feature 3 <= 253.3)
     If (feature 8 <= 9.5)
      Predict: 0.0
     Else (feature 8 > 9.5)
      Predict: 1.0
    Else (feature 3 > 253.3)
     If (feature 0 <= 33.5)
      Predict: 1.0
     Else (feature 0 > 33.5)
      Predict: 0.0
   Else (feature 11 not in {1.0})
    If (feature 3 <= 184.4)
     If (feature 5 <= 208.55)
      If (feature 2 <= 63.5)
       Predict: 1.0
      Else (feature 2 > 63.5)
       Predict: 0.0
     Else (feature 5 > 208.55)
      If (feature 3 <= 123.35)
       Predict: 0.0
      Else (feature 3 > 123.35)
       If (feature 6 <= 70.5)
        Predict: 0.0
       Else (feature 6 > 70.5)
        Predict: 1.0
    Else (feature 3 > 184.4)
     If (feature 5 <= 150.75)
      If (feature 3 <= 241.35000000000002)
       If (feature 5 <= 126.85)
        Predict: 0.0
       Else (feature 5 > 126.85)
        Predict: 1.0
      Else (feature 3 > 241.35000000000002)
       Predict: 1.0
     Else (feature 5 > 150.75)
      Predict: 1.0

In [0]:
#20 - Save model
model_dir = "/user/admin/"
modelFile = "dt_churn"

#Save model as Pipeline model format
model.write().overwrite().save(model_dir + modelFile +".plmodel")

#Save model as DecisionTree model format
treeModel.write().overwrite().save(model_dir + modelFile +".model")

print ("finish save model")

finish save model

In [0]:
#21 - Load Pipeline model
read_plmodel = PipelineModel.read().load(model_dir + modelFile + ".plmodel")
print (read_plmodel.stages)

[StringIndexer_223f569d739f, StringIndexer_793442c17a1d, StringIndexer_52a4f52ae653, VectorAssembler_4029dd90a7c3, DecisionTreeClassificationModel (uid=DecisionTreeClassifier_548508eb9738) of depth 6 with 55 nodes]

In [0]:
#22 - Load DecisionTree model
read_model = DecisionTreeClassificationModel.read().load(model_dir + modelFile + ".model")
print ("depth : " + str(read_model.depth))
print ("numNodes : " + str(read_model.numNodes))
print ("featureImportances : " + str(read_model.featureImportances))


#these lines avaiable for Spark2.1 or above
#print readed_model.numClasses  
#print readed_model.numFeatures

depth : 6
numNodes : 55
featureImportances : (12,[0,1,2,3,5,6,7,8,9,10,11],[0.02477754857220218,0.2856032077079659,0.0066445867554996004,0.14271101802532418,0.0327020560178828,0.006013576732871346,0.09241092174525296,0.0821047226532208,0.15727843892885698,0.13318129744014037,0.03657262542078297])