<a href="https://colab.research.google.com/github/Melvinmcrn/DataScience/blob/master/PySpark/5_Pyspark_Clustering_Pipeline_Cdr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/spark-2.4.5/spark-2.4.5-bin-hadoop2.7.tgz
!tar xf spark-2.4.5-bin-hadoop2.7.tgz
!pip install -q findspark

In [0]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.5-bin-hadoop2.7"
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

# Pyspark_Clustering_Pipeline_Cdr

In [0]:
#1 - import module
from pyspark import SparkContext,SparkConf
from pyspark.sql import SparkSession
from pyspark.ml import Pipeline
from pyspark.ml.clustering import KMeans
from pyspark.ml.feature import VectorAssembler,MaxAbsScaler

In [0]:
#2 - Create SparkContext
from pyspark import SparkContext

sc = SparkContext.getOrCreate()

In [0]:
sc

In [0]:
sc._conf.getAll()

[(u'spark.app.id', u'local-1563876521128'),
 (u'spark.driver.host', u'4db6918c56a8'),
 (u'spark.rdd.compress', u'True'),
 (u'spark.serializer.objectStreamReset', u'100'),
 (u'spark.driver.port', u'41123'),
 (u'spark.master', u'local[*]'),
 (u'spark.executor.id', u'driver'),
 (u'spark.submit.deployMode', u'client'),
 (u'spark.ui.showConsoleProgress', u'true'),
 (u'spark.app.name', u'pyspark-shell')]

In [0]:
print  (sc.getConf().toDebugString())

spark.app.id=local-1563876521128
spark.app.name=pyspark-shell
spark.driver.host=4db6918c56a8
spark.driver.port=41123
spark.executor.id=driver
spark.master=local[*]
spark.rdd.compress=True
spark.serializer.objectStreamReset=100
spark.submit.deployMode=client
spark.ui.showConsoleProgress=true

In [0]:
#3 - Setup SparkSession(SparkSQL)
spark = (SparkSession
         .builder
         .appName("Pyspark_Clustering_Pipeline_Cdr")
         .getOrCreate())
print (spark)

<pyspark.sql.session.SparkSession object at 0x7f7a68334450>

In [0]:
#4 - Read file to spark DataFrame

data = (spark
        .read
        .option("header","true")
        .option("inferSchema", "true")
        .csv("cdr_extractFeatures.csv"))
data.cache()
print ("finish caching data")

finish caching data

In [0]:
data.describe().toPandas()

  summary     uniquePN  ...  avg_CallOut_Length    avg_Call_Length
0   count          501  ...                 501                501
1    mean         None  ...  306.42700035149676  305.8882365878245
2  stddev         None  ...  38.123520925514285  27.72859975460591
3     min  089-1000000  ...         176.1666667        216.9090909
4     max  089-1000500  ...         437.2857143            384.975

[5 rows x 9 columns]

In [0]:
data.printSchema()

root
 |-- uniquePN: string (nullable = true)
 |-- no_CallIn_Unique: integer (nullable = true)
 |-- no_CallOut_Unique: integer (nullable = true)
 |-- no_CallIn: integer (nullable = true)
 |-- no_CallOut: integer (nullable = true)
 |-- avg_CallIn_Length: double (nullable = true)
 |-- avg_CallOut_Length: double (nullable = true)
 |-- avg_Call_Length: double (nullable = true)

In [0]:
data.toPandas()

        uniquePN  no_CallIn_Unique  ...  avg_CallOut_Length  avg_Call_Length
0    089-1000000                13  ...          241.692308       264.658537
1    089-1000001                12  ...          314.500000       298.218750
2    089-1000002                17  ...          263.032258       278.836735
3    089-1000003                16  ...          311.142857       305.333333
4    089-1000004                22  ...          306.187500       307.725000
5    089-1000005                26  ...          280.650000       302.956522
6    089-1000006                22  ...          246.941177       268.307692
7    089-1000007                22  ...          289.200000       284.738095
8    089-1000008                17  ...          363.666667       334.054054
9    089-1000009                15  ...          274.434783       305.368421
10   089-1000010                20  ...          437.285714       370.714286
11   089-1000011                26  ...          347.315789       339.377778
12   089-1000012                14  ...          261.684211       301.000000
13   089-1000013                19  ...          285.681818       332.950000
14   089-1000014                16  ...          233.476191       242.297297
15   089-1000015                20  ...          346.214286       329.142857
16   089-1000016                15  ...          287.450000       308.657143
17   089-1000017                22  ...          271.076923       326.020833
18   089-1000018                24  ...          275.210526       311.953488
19   089-1000019                19  ...          302.833333       310.255814
20   089-1000020                24  ...          286.105263       297.069767
21   089-1000021                15  ...          239.521739       289.205128
22   089-1000022                15  ...          267.823529       291.187500
23   089-1000023                20  ...          284.217391       276.441861
24   089-1000024                19  ...          334.812500       300.714286
25   089-1000025                16  ...          356.000000       359.400000
26   089-1000026                13  ...          301.545455       316.371429
27   089-1000027                26  ...          297.363636       323.541667
28   089-1000028                24  ...          291.923077       293.632653
29   089-1000029                18  ...          317.526316       354.684211
..           ...               ...  ...                 ...              ...
471  089-1000471                25  ...          257.250000       310.142857
472  089-1000472                20  ...          263.076923       275.645833
473  089-1000473                26  ...          309.928571       301.897436
474  089-1000474                12  ...          335.666667       317.892857
475  089-1000475                26  ...          352.400000       314.326087
476  089-1000476                20  ...          349.142857       339.707317
477  089-1000477                18  ...          286.208333       276.651163
478  089-1000478                19  ...          362.473684       330.717949
479  089-1000479                19  ...          263.350000       289.974359
480  089-1000480                26  ...          387.533333       328.829268
481  089-1000481                16  ...          265.375000       286.843750
482  089-1000482                13  ...          356.090909       343.371429
483  089-1000483                24  ...          356.894737       342.022727
484  089-1000484                18  ...          323.346154       324.065217
485  089-1000485                12  ...          303.750000       303.951219
486  089-1000486                16  ...          360.125000       350.375000
487  089-1000487                24  ...          261.904762       298.311111
488  089-1000488                16  ...          292.133333       323.838710
489  089-1000489                24  ...          335.800000       323.051282
490  089-1000490                14  ...          264.894737       267.000000
491  089-1000491                11  ...          267.761905       290.375000
492  089-1000492                27  ...          293.944444       299.866667
493  089-1000493                13  ...          268.333333       307.333333
494  089-1000494                13  ...          265.941176       264.700000
495  089-1000495                17  ...          297.550000       285.972222
496  089-1000496                20  ...          258.217391       256.348837
497  089-1000497                29  ...          264.277778       276.000000
498  089-1000498                15  ...          303.421053       322.529412
499  089-1000499                15  ...          321.772727       267.297297
500  089-1000500                18  ...          280.812500       303.571429

[501 rows x 8 columns]

In [0]:
#5 - Print sample 5 rows of all variables
column_name = ["no_CallIn_Unique","no_CallOut_Unique","no_CallIn","no_CallOut"
               ,"avg_CallIn_Length","avg_CallOut_Length","avg_Call_Length"]

In [0]:
#6 - Create Vector
assem =  VectorAssembler(inputCols=column_name ,outputCol="temp_features")

print (assem)

VectorAssembler_1434726a9d65

In [0]:
#7 - Normalize
scaler = MaxAbsScaler(inputCol="temp_features", outputCol="features")

print (scaler)

MaxAbsScaler_795be4a57868

In [0]:
#8 - Create model
kmeans = KMeans().setK(3).setSeed(50)

In [0]:
#9 - Set ML pipeline
all_process_list = [assem,scaler,kmeans]
for process in all_process_list: print process

pipeline = Pipeline(stages=all_process_list)
print (pipeline)

VectorAssembler_1434726a9d65
MaxAbsScaler_795be4a57868
KMeans_0f33196fbedd
Pipeline_8b5f84a4a3ab

In [0]:
#10 - Train model
model = pipeline.fit(data)

In [0]:
#11 - Make predictions
predictions = model.transform(data).select("features","prediction")
predictions.cache()

DataFrame[features: vector, prediction: int]

In [0]:
# Print sample result
predictions.sample(False, 0.3, 1234).toPandas()

                                              features  prediction
0    [0.6666666666666666, 0.5151515151515151, 0.666...           2
1    [0.7878787878787878, 0.5757575757575758, 0.787...           2
2    [0.48484848484848486, 0.6060606060606061, 0.48...           1
3    [0.6060606060606061, 0.3939393939393939, 0.636...           2
4    [0.45454545454545453, 0.6060606060606061, 0.45...           1
5    [0.7272727272727273, 0.5757575757575758, 0.727...           2
6    [0.5757575757575758, 0.7272727272727273, 0.575...           0
7    [0.45454545454545453, 0.696969696969697, 0.484...           1
8    [0.5757575757575758, 0.3939393939393939, 0.575...           2
9    [0.7272727272727273, 0.7878787878787878, 0.727...           0
10   [0.5454545454545454, 0.5757575757575758, 0.575...           1
11   [0.5454545454545454, 0.6060606060606061, 0.545...           1
12   [0.6060606060606061, 0.8181818181818182, 0.606...           0
13   [0.6363636363636364, 0.5757575757575758, 0.666...           2
14   [0.7575757575757576, 0.696969696969697, 0.7878...           0
15   [0.45454545454545453, 0.7575757575757576, 0.45...           1
16   [0.6060606060606061, 0.48484848484848486, 0.60...           2
17   [0.696969696969697, 0.6363636363636364, 0.6969...           0
18   [0.6060606060606061, 0.696969696969697, 0.6060...           0
19   [0.3939393939393939, 0.45454545454545453, 0.39...           1
20   [0.6666666666666666, 0.45454545454545453, 0.66...           2
21   [0.696969696969697, 0.5151515151515151, 0.7272...           2
22   [0.9696969696969697, 0.5757575757575758, 1.0, ...           0
23   [0.6666666666666666, 0.48484848484848486, 0.72...           2
24   [0.5151515151515151, 0.36363636363636365, 0.51...           2
25   [0.6363636363636364, 0.7575757575757576, 0.636...           0
26   [0.6666666666666666, 0.6666666666666666, 0.696...           0
27   [1.0, 0.7575757575757576, 1.0, 0.7352941176470...           0
28   [0.3939393939393939, 0.48484848484848486, 0.42...           1
29   [0.7272727272727273, 0.6363636363636364, 0.757...           0
..                                                 ...         ...
134  [0.5151515151515151, 0.6666666666666666, 0.515...           1
135  [0.696969696969697, 0.6060606060606061, 0.6969...           0
136  [0.6666666666666666, 0.5757575757575758, 0.666...           2
137  [0.7575757575757576, 0.3939393939393939, 0.757...           2
138  [0.7272727272727273, 0.6060606060606061, 0.727...           0
139  [0.42424242424242425, 0.6363636363636364, 0.42...           1
140  [0.7272727272727273, 0.5757575757575758, 0.727...           2
141  [0.696969696969697, 0.8484848484848485, 0.7272...           0
142  [0.6363636363636364, 0.5757575757575758, 0.696...           2
143  [0.45454545454545453, 0.5151515151515151, 0.45...           1
144  [0.42424242424242425, 0.5151515151515151, 0.42...           1
145  [0.5757575757575758, 0.3939393939393939, 0.575...           2
146  [0.5757575757575758, 0.5151515151515151, 0.575...           2
147  [0.7575757575757576, 0.45454545454545453, 0.81...           2
148  [0.6666666666666666, 0.7272727272727273, 0.666...           0
149  [0.8181818181818182, 0.5151515151515151, 0.848...           2
150  [0.6666666666666666, 0.45454545454545453, 0.66...           2
151  [0.45454545454545453, 0.6363636363636364, 0.51...           1
152  [0.6060606060606061, 0.6060606060606061, 0.606...           0
153  [0.5757575757575758, 0.5757575757575758, 0.606...           2
154  [0.5454545454545454, 0.7575757575757576, 0.606...           0
155  [0.48484848484848486, 0.696969696969697, 0.484...           1
156  [0.7272727272727273, 0.6060606060606061, 0.727...           0
157  [0.48484848484848486, 0.45454545454545453, 0.4...           1
158  [0.42424242424242425, 0.5757575757575758, 0.42...           1
159  [0.8181818181818182, 0.5454545454545454, 0.818...           2
160  [0.3939393939393939, 0.5454545454545454, 0.454...           1
161  [0.6060606060606061, 0.696969696969697, 0.6060...           0
162  [0.8787878787878788, 0.5454545454545454, 0.878...           2
163  [0.45454545454545453, 0.6666666666666666, 0.45...           1

[164 rows x 2 columns]

In [0]:
#12 Evaluate clustering by computing Within Set Sum of Squared Errors.
kmean_model = model.stages[-1]
wssse = kmean_model.computeCost(predictions)
print("Within Set Sum of Squared Errors = " + str(wssse))

Within Set Sum of Squared Errors = 26.2711766949

In [0]:
#13 Shows Cluster's Center
centers = kmean_model.clusterCenters()
scaler_model = model.stages[-2]
max = scaler_model.maxAbs
print("Cluster Centers: ")
for center in centers:
    print(center*max)

Cluster Centers:
[ 22.18238994  23.38993711  22.66666667  23.88050314 302.40377844
 302.09128663 301.85087841]
[ 14.83225806  20.07096774  15.05806452  20.42580645 305.27021807
 308.2657195  307.03127068]
[ 21.2513369   15.88235294  21.72192513  16.24064171 308.39652698
 308.58944428 308.37363587]