<a href="https://colab.research.google.com/github/Melvinmcrn/DataScience/blob/master/Activity1/Activity1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [2]:
cat_id = pd.read_csv('https://raw.githubusercontent.com/Melvinmcrn/DataScience/master/Activity1/cat_id.csv')
cat_id.head()

   cat_id  cat_name
0       2  Japanese
1       3      Thai
2       4   Chinese
3       5   Italian
4       6    Korean

In [3]:
cat_id.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 2 columns):
cat_id      14 non-null int64
cat_name    14 non-null object
dtypes: int64(1), object(1)
memory usage: 352.0+ bytes

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [5]:
wongnai = pd.read_csv('/content/drive/My Drive/wongnai.csv')
wongnai.head()

   Unnamed: 0  id  ... number_of_checkins  all_time_score
0           0   2  ...                 32    22487.872358
1           1   3  ...                  0       92.900000
2           2   4  ...                173   239274.950390
3           3   5  ...                 21    13307.512755
4           4   6  ...                 14    19606.094680

[5 rows x 15 columns]

In [6]:
wongnai.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 283508 entries, 0 to 283507
Data columns (total 15 columns):
Unnamed: 0                      283508 non-null int64
id                              283508 non-null int64
name                            283507 non-null object
category_id                     283448 non-null float64
city_id                         283302 non-null float64
latitude                        283508 non-null float64
longitude                       283508 non-null float64
price_range                     183312 non-null float64
avg_price                       5012 non-null float64
number_of_bookmarks             283508 non-null int64
number_of_favorite_bookmarks    283508 non-null int64
top                             283508 non-null int64
best_of_wongnai                 380 non-null float64
number_of_checkins              283508 non-null int64
all_time_score                  283508 non-null float64
dtypes: float64(8), int64(6), object(1)
memory usage: 32.4+ MB

In [7]:
wongnai.isnull().sum()

Unnamed: 0                           0
id                                   0
name                                 1
category_id                         60
city_id                            206
latitude                             0
longitude                            0
price_range                     100196
avg_price                       278496
number_of_bookmarks                  0
number_of_favorite_bookmarks         0
top                                  0
best_of_wongnai                 283128
number_of_checkins                   0
all_time_score                       0
dtype: int64

In [8]:
wongnai.sort_values(by='best_of_wongnai').head(5)['name']

141447    Water Library Brasserie
135966          Caturday cat cafe
129258                   Chef Man
141406               Din Tai Fung
118873                 Eat Am Are
Name: name, dtype: object

# 2. จงแสดงชื่อร้านอาหาร 5 อันดับแรกในกลุ่ม Best of Wongnai<br>
1. Water Library Brasserie
2. Caturday cat cafe
3. Chef Man
4. Din Tai Fung
5. Eat Am Are

In [18]:
wongnai3 = wongnai[np.isfinite(wongnai['best_of_wongnai'])][['category_id','name','best_of_wongnai']].reset_index().groupby('category_id')
wongnai33 = pd.DataFrame(wongnai3.size()).reset_index()
wongnai33.columns = ['cat_id','amount']
cat_wongnai = pd.merge(cat_id,
                       wongnai33,
                       left_on='cat_id',
                       right_on='cat_id',
                       how='inner')
total = cat_wongnai['amount'].sum()
cat_wongnai['percent'] = cat_wongnai['amount'] / total * 100
cat_wongnai

    cat_id     cat_name  amount    percent
0        2     Japanese      14   9.655172
1        3         Thai      36  24.827586
2        4      Chinese      18  12.413793
3        5      Italian      10   6.896552
4        6       Korean       4   2.758621
5        7      Vietnam       8   5.517241
6        8     American       2   1.379310
7        9       French       6   4.137931
8       10       Indian       3   2.068966
9       11       Buffet       1   0.689655
10      12  Street Food       1   0.689655
11      13  Fusion Food       4   2.758621
12      14  Coffee Shop      30  20.689655
13      15       Others       8   5.517241

#3. จงระบุสัดส่วนของร้านอาหารประเภทต่างๆ ในกลุ่ม Best of Wongnai

In [19]:
cat_wongnai[['cat_name','percent']]

       cat_name    percent
0      Japanese   9.655172
1          Thai  24.827586
2       Chinese  12.413793
3       Italian   6.896552
4        Korean   2.758621
5       Vietnam   5.517241
6      American   1.379310
7        French   4.137931
8        Indian   2.068966
9        Buffet   0.689655
10  Street Food   0.689655
11  Fusion Food   2.758621
12  Coffee Shop  20.689655
13       Others   5.517241