<a href="https://colab.research.google.com/github/Melvinmcrn/DataScience/blob/master/Activity1/Activity1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [21]:
cat_id = pd.read_csv('https://raw.githubusercontent.com/Melvinmcrn/DataScience/master/Activity1/cat_id.csv')
cat_id.head()

   cat_id  cat_name
0       2  Japanese
1       3      Thai
2       4   Chinese
3       5   Italian
4       6    Korean

In [22]:
cat_id.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 2 columns):
cat_id      14 non-null int64
cat_name    14 non-null object
dtypes: int64(1), object(1)
memory usage: 352.0+ bytes

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
wongnai = pd.read_csv('/content/drive/My Drive/wongnai.csv')
wongnai.head()

   Unnamed: 0  id  ... number_of_checkins  all_time_score
0           0   2  ...                 32    22487.872358
1           1   3  ...                  0       92.900000
2           2   4  ...                173   239274.950390
3           3   5  ...                 21    13307.512755
4           4   6  ...                 14    19606.094680

[5 rows x 15 columns]

In [5]:
wongnai.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 283508 entries, 0 to 283507
Data columns (total 15 columns):
Unnamed: 0                      283508 non-null int64
id                              283508 non-null int64
name                            283507 non-null object
category_id                     283448 non-null float64
city_id                         283302 non-null float64
latitude                        283508 non-null float64
longitude                       283508 non-null float64
price_range                     183312 non-null float64
avg_price                       5012 non-null float64
number_of_bookmarks             283508 non-null int64
number_of_favorite_bookmarks    283508 non-null int64
top                             283508 non-null int64
best_of_wongnai                 380 non-null float64
number_of_checkins              283508 non-null int64
all_time_score                  283508 non-null float64
dtypes: float64(8), int64(6), object(1)
memory usage: 32.4+ MB

In [6]:
wongnai.isnull().sum()

Unnamed: 0                           0
id                                   0
name                                 1
category_id                         60
city_id                            206
latitude                             0
longitude                            0
price_range                     100196
avg_price                       278496
number_of_bookmarks                  0
number_of_favorite_bookmarks         0
top                                  0
best_of_wongnai                 283128
number_of_checkins                   0
all_time_score                       0
dtype: int64

In [7]:
wongnai.sort_values(by='best_of_wongnai').head(5)['name']

141447    Water Library Brasserie
135966          Caturday cat cafe
129258                   Chef Man
141406               Din Tai Fung
118873                 Eat Am Are
Name: name, dtype: object

# 2. จงแสดงชื่อร้านอาหาร 5 อันดับแรกในกลุ่ม Best of Wongnai<br>
1. Water Library Brasserie
2. Caturday cat cafe
3. Chef Man
4. Din Tai Fung
5. Eat Am Are

In [32]:
wongnai3 = wongnai[np.isfinite(wongnai['best_of_wongnai'])][['category_id','name','best_of_wongnai']].reset_index().groupby('category_id')
wongnai33 = pd.DataFrame(wongnai3.size()).reset_index().rename(column={'0':'amount'})
wongnai33.info()
# cat_wongnai = pd.merge(cat_id,
#                        wongnai3.size(),
#                        left_on='cat_id',
#                        right_on='category_id',
#                        how='inner')
# cat_wongnai

TypeError: ignored

#3. จงระบุสัดส่วนของร้านอาหารประเภทต่างๆ ในกลุ่ม Best of Wongnai
category_id        จำนวน<br>
2.0                 14<br>
3.0                 36<br>
4.0                 18<br>
5.0                 10<br>
6.0                  4<br>
7.0                  8<br>
8.0                  2<br>
9.0                  6<br>
10.0                 3<br>
11.0                 1<br>
12.0                 1<br>
13.0                 4<br>
14.0                30<br>
15.0                 8<br>
18.0                 1<br>
20.0                24<br>
21.0                 1<br>
23.0                16<br>
24.0                13<br>
25.0                 5<br>
29.0                36<br>
30.0                21<br>
32.0                 2<br>
33.0                 3<br>
34.0                 3<br>
35.0                 9<br>
36.0                21<br>
39.0                 4<br>
40.0                 2<br>
42.0                 6<br>
43.0                 6<br>
44.0                 3<br>
45.0                10<br>
49.0                10<br>
50.0                 2<br>
53.0                 4<br>
54.0                 2<br>
55.0                 1<br>
56.0                 4<br>
57.0                 5<br>
58.0                 1<br>
59.0                18<br>
60.0                 2<br>